.deprecation-announcement{
    position: relative;
    width: 100%;
    display: block;
    background-color: $grey-1;
    padding: .5rem 1rem;
}
.deprecation-announcement p{
    color: $grey-9;
    max-width: 100%;
    margin: 0 auto 0;
}
.deprecation-announcement p a{
    color: white;
    text-decoration: underline;
}