.tile-wrapper{
	@extend %clearfix;
}
.tile{
	border-radius:5px;
	border: 2px solid $accent;
	margin-left:1rem;
	margin-right:1rem;
	margin-top: 1em;
	position:relative;
	max-height: 200px;
	min-height: 150px;
	height:200px;
	overflow: hidden;
	float:left;
	@extend %clearfix;

	img{
		@include transition(transform 0.5s ease-in-out);
    object-fit: cover;
	}
	.title{
		position:absolute;
		width: 100%;
		background-color:transparentize($accent, 0.2);
		bottom:0;
		left:0;
		right:0;
		margin:0;
		box-sizing: border-box;
		@include display(flex);
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		text-align: center;
		padding: 1rem;
		@include transition(opacity 0.25s ease-in-out);
		h3,.button{
			margin:0;
			font-family: $serif;
			font-weight: bold;
		}
		a{
			width: 100%;
			display:block;
			&:hover{
				text-shadow:none;
			}
			h3{
				color: $white;
				&:hover{
					text-shadow:none;
				}
			}
		}
		.button{
			margin-right: 1.5rem;
			display: none;
		}
	}
	@media #{$desktop}{
		width:45%;
		margin-left:0;
		margin-right:0;
		&:nth-child(odd){
			margin-right: 3%;
		}
		.title{
			height:100%;
			top:0;
			flex-direction: column;
			justify-content: center;
			padding:0;
			opacity: 0;
			h3{
				padding:0;
				&:after{
					content:"";
					width:50%;
					height: 5px;
					margin: 10px auto 10px;
					position: relative;
					display:block;
					border-top: 5px double $white;
				}
			}
			h3,.button{
				text-align: center;
			}
			.button{
				margin-right: 0;
				display: inline-block;
			}
		}
		&:hover{
			.title{
				opacity:1;
			}
			img{
				@include transform(scale(1.5));
				@include transition(transform 5s ease-in-out);
			}
		}
	}
}
