$low-key: hsla(253, 100%, 7%, 1);
$high-key: hsla(45, 100%, 94%, 1);

$serif:'Merriweather',  'Palatino', 'Palatino Linotype', Georgia, serif;
$light: 'Merriweather Light', 'Merriweather', 'Palatino', 'Palatino Linotype', Georgia, serif;

$tablet: "screen and (min-width:40em)";
$desktop: "screen and (min-width:80em)";

*{
	box-sizing: border-box;
}

html{
	font-size: 100%;
	background-color: $low-key;
	color: $high-key;
}
body{
	font-family:$light;
	padding: 1rem;
	color: $low-key;
	margin: 0 auto 0;
	max-width: 50rem;
	position: relative;
}

main{
	min-height: calc(100vh);
}

a{
	color:$high-key;
	text-decoration: 1px underline dotted $high-key;
	text-decoration-skip-ink: revert;
	&:hover{
		text-decoration-style: wavy;
	}
}

h1,h2,h3,h4,h5,ul,li,p,img{
	color: $high-key;
	font-family: $serif;
	margin-top: 1em;
	text-align: left;
}

h1{
	font-size: 3rem;
	color: $high-key;
	font-family: $light;
	line-height:1.35;
}

h2{
	font-size: 2.5rem;
}

h3{
	font-size: 2rem;
	line-height: 1.4;
}

h4{
	font-size: 1.25rem;
	margin-top: .5em;
}

p,aside,pre code,li, figcaption,button{
	font-size: 1rem;
	line-height: 1.75;
	color:$high-key;
	@media #{$desktop}{
		font-size: 1.2rem;
		line-height: 1.85;
	}
}
img,video,.gfyvid{
	display:block;
	max-width:100%;
	margin-left:0;
}
code{
	font-family: monaco, monospace;
	color:$high-key;
	background-color:$low-key;
	border: 1px dashed $high-key;
	border-radius:10px;
	padding: 0.15em 0.5em;
	margin:0 2px;
}
pre{
	color:$high-key;
	background-color:$low-key;
	border: 1px dashed $high-key;
	border-radius:10px;
	padding: 0.15em 0.5em;
	margin:0 2px;
	code{

	}
}
aside{
	color:$high-key;
	font-family: $serif;
	@extend %left-margin-hang;
}

blockquote{
	margin: 2rem 0;
	position:relative;
	&:after{
		content:"";
		height: 100%;
		display: block;
		position: absolute;
		margin-left: 0;
		left:0rem;
		top: 0;
		width: 1px;
		background-color: $high-key;
	}
	h1,h2,h3,h4,h5,h6,p{
		margin-left:2rem;
		font-style: italic;
		color: $high-key;
	}
	p{
		font-size: 1.7rem;
	}
}
q{
	color: $high-key;
	padding: 0.15em 0.3em;
	font-style: italic;
	&:before{
		content:'\201C';
		color:$high-key;
		margin-right:0.1em;
	}
	&:after{
		content:'\201d';
		color:$high-key;
		margin-left: 0.1em;
	}
}
ol,ul{
	list-style-position: outside;
	margin-bottom: 2rem;
	font-size:1rem;
	position:relative;
}
ol{
	list-style-type: none;
	li{
	    counter-increment: count-me;
		&:before{
			content: counter(count-me) ". ";
    		display: block;
    		position: absolute;
    		color: $high-key;
    		left: 1.5rem;
    		text-align:right;
		}
	}
}

ul{
	list-style-type: none;
	li:before{
		font-family: sans-serif;
		content: '•';
		color: $high-key;
		position: absolute;
		left:2rem;
	}
}

ul ul, ol ol, ul ol, ol ul{
	margin: 1em 0;
	padding-left: 0;
}
li{
	margin-left: 3rem;
	margin-bottom: 0.25em;
	line-height:1.6;
}
hr{
	border:none;
	height:1px;
	display:block;
}
strong{
	font-family: $serif;
	font-weight: bold;
}
em{
	font-style: italic;
}
sup{
	vertical-align: super;
	font-size: 0.75em;
}
figure{
	position:relative;
	figcaption{
		padding: 1rem;
		color: $high-key;
		border-radius: 0.5em;
	}
	img{
		// box-shadow: $grey-9 0 2px 2rem;
	}
}
.button, button{
	padding: .25em 1em;
	border:0;
	border-radius: .5em;
	background-color: $low-key;
	color: $high-key;
	border: 1px solid $high-key;
	font-family: $light;
	&:hover{
		background-color: $high-key;
		color: $low-key;
	}
}
::selection{
	background-color: $high-key;
	color:$low-key;
}

//// LEGACY?
@media #{$tablet}{
	header h1{
		font-size: 2rem;
	}
}

.clear{
	clear:both;
	margin:0;
}

%clearfix {
  &:after {
	content: "";
	display: table;
	clear: both;
  }
}

%site-width{
	max-width: 50rem;
	margin: 0 auto 0;
	position:relative;
	padding: 0 1.5em;
	@media #{$desktop}{
		left: 0rem;
	}
}
%left-margin-hang{
	@media #{$desktop}{
		position:absolute;
		left: -15rem;
		width:12rem;
		margin-top: -2.3rem;
		margin-left: 2.5%;
		text-align: right;
	}
}

.rotated{
}

.no-margin{
	margin-top: 0;
	margin-bottom: 0;
}

.hidden{
	visibility:hidden;
}

