.site-header{
	@extend %site-width;
	//position:relative;
	@media #{$tablet}{
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
	}
}
.site-header__logo{
		margin:1rem 0 1rem 1rem;
		display: inline-block;
		vertical-align: middle;
		width:100%;
		max-width: 6rem;
		-webkit-font-smoothing:antialiased;
}
.site-header__title{
		text-align: left;
		font-family: $serif;
		font-weight: bold;
		margin-left: 1rem;
		margin-top: 0;
		font-size: 1.5rem;
		display:inline-block;
		vertical-align: middle;
		color: $grey-7;
	}



.site-header__nav{
		border: 1px $red solid;
		border-radius: 5px;
		margin-left:1rem;
		margin-right: 1rem;
		margin-top: 0;
		@extend %clearfix;
		@media #{$tablet}{
				border:0;
				display:inline-block;
				vertical-align: middle;
				margin-top: 0;
				margin-left: 5rem;
}
.site-header__nav-link{
	box-sizing: border-box;
	width:50%;
	margin:0;
	padding: 10px 0;
	float:left;
	font-family: $serif;
	text-align: center;
	background-position: 0 1.7em;
	background-size:0;
	&:nth-child(2){
		border-left: 1px solid $red-4;
	}
	&:hover{
		background-color: $red;
		color: #fff;
		text-shadow: none;
	}
	@media #{$tablet}{
		width:auto;
		float:none;
		background-size:2px 2px;
		&+a{
			border:0;
			margin-left: 2rem;
		}
		&:hover{
			background-color: transparent;
			color: $red-2;
		}
	}
}
