.site-header{
	@extend %site-width;
	//position:relative;
	a img{
		margin:1rem 0 1rem 1rem;
		display: inline-block;
		vertical-align: middle;
		width:100%;
		max-width: 13rem;
	}
	h1{
		text-size: 0px;
		position: relative;
		margin-left: -10000px;
		display:none;
	}



	nav{
		border: 1px $brand solid;
		border-radius: 5px;
		margin-left:1rem;
		margin-right: 1rem;
		margin-top: 0;
		@extend %clearfix;
		a{
			box-sizing: border-box;
			width:33.33333%;
			margin:0;
			padding: 10px 0;
			float:left;
			font-family: $serif;
			text-align: center;
			background-position: 0 1.7em;
			background-size:0;
			&+a{
				border-left: 1px solid $brand-4;
			}
			&:hover{
				background-color: $brand;
				color: #fff;
				text-shadow: none;
			}
		}
		@media #{$tablet}{
			&{
				border:0;
				display:inline-block;
				vertical-align: middle;
				margin-top: 0;
				margin-left: 5rem;
				a{
					width:auto;
					float:none;
					background-size:2px 2px;
					&+a{
						border:0;
						margin-left: 2rem;
					}
					&:hover{
						background-color: transparent;
						color: $brand-2;
					}
				}
			}
		}
	}
	@media #{$tablet}{
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
	}
}
