.site-intro{
	@extend %clearfix;
	margin-bottom: 10rem;
	h1{
		font-family: $light;
		font-style: italic;
		text-align: center;
		font-size: 2.6em;
		line-height: 1.4;
		max-width: 16em;
		margin: 1em auto 1em;
	}
	.button{
		background-color: $transparent-red-3;
		@include background(linear-gradient($red-5,$red-3));
		border-color: $red-3;
		opacity: 0.5;
		text-align:center;
		margin: 0 auto 0;
		display: block;
		position:relative;
		&:hover{
			opacity: 1;	
			text-shadow: none;
		}
		@media #{$tablet}{
			max-width: 30%;
		}
	}
}