article.post-preview{
	font-size:3rem;
	position: relative;

}
.post-featured-image{
	transform: translateY(0.25rem);
	&:hover{
		@include filter(grayscale(0%)contrast(1)brightness(1));
		transform: translateY(0);
	}
}
.listing__title{
	margin-top:0;
}
.post-excerpt{
	font-size: 1rem;
}

.post__external{
	padding-left: 2rem;
	&:after{
		content:"";
		height: 100%;
		display: block;
		position: absolute;
		margin-left: 0;
		left:0rem;
		top: 0;
		width: 0.5rem;
		background-color: $transparent-red-4;
	}
}

.post-separator{
	margin-top:2.5rem;
	overflow: visible;
	&:before{
		content: "";
		position: relative;
		display:block;
		width: 6px;
		height: 6px;
		background-color: $white;
		border-radius:50%;
		border: 1px solid $accent;
		top: -3px;
		margin: 0 auto 0;
		text-align: center;
	}
}

nav.pagination{
	text-align: left;
	margin-top:4rem;
	margin-bottom: -4rem;
	background-color: $grey-1;
	color: $white;
	padding: 0;
	position:relative;
	.pagination-links{
		@extend %site-width;
		@extend %clearfix;
	}
	a{
		color: $grey-9;
		&:hover{
			text-shadow: none;
			color: $accent-9;
			background-color:$grey-2;
		}
	}
	.paginator, .page-number{
		box-sizing: border-box;
		margin: 0;
		text-align: center;
		width: 100%;
		padding: 2rem;
		display: block;
		float:left;
	}

	.page-number{
		border-bottom: 1px solid $grey-4;
		border-top: 1px solid $grey-4;
	}

	@media #{$tablet}{
		.paginator, .page-number{
			width: 33%;
		}

		.page-number{
			border-bottom: 0;
			border-top: 0;
		}

		.page-number,.newer-posts{
			border-left: 1px solid $grey-4;
		}

		.page-number,.older-posts{
			border-right: 1px solid $grey-4;
		}
	}
}
