.post-header{
	margin-bottom:1rem;
	h2{
		margin-left:0;
	}
}

.post-meta{
	font-style: italic;
	font-size: 1rem;
	color:$grey-5;
	time{
		color:$grey-8;
	}
	.tags{
		color: $grey-5;
	}
}
.post-title{
	margin-top: 1rem;
}

.post-image-header{
	position: relative;
	opacity:0.9;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
	@include filter(grayscale(100%)contrast(0.4)brightness(1.25));
}

.fade-in-color {
    @include animation(color-fade 1s ease-in 0s forwards);
}

@include keyframes (color-fade) {
    to {
    	@include filter(grayscale(0%)contrast(1)brightness(1));
    	@include animation-iteration-count(1);
    }
}

.post-featured-image{
	&:hover{
		@include filter(grayscale(0%)contrast(1)brightness(1));
	}
}

img,video,.gfyvid{
	display:block;
	width:100%;
	margin-left:0;
}

h1,h2,h3,h4,h5,ul,li,p,img, .tile{
	max-width: 50rem;
	text-align: left;
}

.images-fix{
	margin-left:0;
	width:100%;
	max-width: 100%;
	padding:0;
}
.top-margin{
	margin-top: 1rem;
}

.anchor-links{
	background-color: $grey-9;
	margin-bottom: 0;
	max-width: 100%;
	border-radius: 3px;
	position: relative;
	margin-top: 2.5rem;
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(center);
	a{
		box-sizing: border-box;
		border-radius: 3px;
		padding: 1rem 2rem;
		color: $red;
		margin: 0;
		text-align:center;
		text-transform: uppercase;
		font-family: $serif;
		font-weight: bold;
		@include transition(background-color 0.5s);
		&:hover{
			background-color:$grey-8;
		}
		&:before{
			content: '';
		}
	}
	&:before{
		content: "On this page:";
		display:block;
		position: absolute;
		top: -1.5rem;
		left: 0;
		font-weight: bold;
		color: $grey-7;
	}
}
