.clear{
	clear:both;
	margin:0;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%site-width{
	max-width: 50rem;
	margin: 0 auto 0;
	position:relative;
	padding: 0 1.5em;
	@media #{$desktop}{
		left: 0rem;
	}
}
%left-margin-hang{
	@media #{$desktop}{
		position:absolute;
		width:12rem;
		//margin-top:0;
		margin-left: 2.5%;
		text-align: right;
	}
}

.rotated{
}

.no-margin{
	margin-top: 0;
	margin-bottom: 0;
}

.hidden{
	visibility:hidden;
}
