//Type
$serif:'Merriweather',  'Palatino', 'Palatino Linotype', Georgia, serif;
$light: 'Merriweather Light', 'Merriweather', 'Palatino', 'Palatino Linotype', Georgia, serif;


//Colors
// $accent: #cc6947; //rgba(204, 105, 71, 1);
$accent: #640726;
$cool-grey:#7A7F99;
$white: #fff;

$grey-10: lighten($cool-grey,50%); //white
$grey-9: lighten($cool-grey,40%); //#edeef2
$grey-8: lighten($cool-grey,30%); //#d1d2db
$grey-7: lighten($cool-grey,20%); //#b4b7c5
$grey-6: lighten($cool-grey,10%); //#979baf
$grey-5: $cool-grey;
$grey-4: darken($cool-grey,10%); //#61667f
$grey-3: darken($cool-grey,20%); //#4b4f62
$grey-2: darken($cool-grey,30%); //#353845
$grey-1: darken($cool-grey,40%); //#1f2028
$grey-0: darken($cool-grey,50%); //#09090b 

// $accent-10: lighten($accent,50%);// White
// $accent-9: lighten($accent,40%); //#f8ebe7
// $accent-8: lighten($accent,30%); //#edcbbf
// $accent-7: lighten($accent,20%); //#e2aa97
// $accent-6: lighten($accent,10%); //#d78a6f
// $accent-5: $accent;              //#cc6947
// $accent-4: darken($accent,10%);  //#bb5734
// $accent-3: darken($accent,20%);  //#9b482b
// $accent-2: darken($accent,30%);  //#7b3922
// $accent-1: darken($accent,40%);  //#602c1a
// $accent-0: darken($accent,50%);  //#381a0f

$accent-9: lighten($accent,60%);
$accent-8: lighten($accent,50%);
$accent-7: lighten($accent,40%);
$accent-6: lighten($accent,30%);
$accent-5: $accent;             
$accent-4: darken($accent,10%); 
$accent-3: darken($accent,20%); 
$accent-2: darken($accent,30%); 
$accent-1: darken($accent,40%); 
$accent-0: darken($accent,50%); 

$transparent-red-1: fade-out($accent, 0.2);
$transparent-red-2: fade-out($accent, 0.4);
$transparent-red-3: fade-out($accent, 0.6);
$transparent-red-4: fade-out($accent, 0.8);
$transparent-red-5: fade-out($accent, 1);

//Media Queries
$tablet: "screen and (min-width:40em)";
$desktop: "screen and (min-width:80em)";
