<!DOCTYPE html>
<html lang="en-us">
  <head>
		  
	<meta charset="utf-8">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="UX Designer. All Purpose Nerd. Helpful Person.">
	<meta property="og:description" content="UX Designer. All Purpose Nerd. Helpful Person.">
	<meta name="author" content="G. Lucas Roe">
	<link rel="shortcut icon" href="/images/site/favicon.ico">
		  	  
	<title>G. Lucas Roe - UX Designer</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
	<header>
		<a href='{{ site.baseurl }}/'>
		  <h1>G. Lucas Roe</h1>
		</a>
		<nav class="site-header__nav">
		  <a href="/resume">Resume</a>
		  <a href="/work">Work</a>
		</nav>
	</header>
	<div class='post-body'>
	  {{ content }}
	</div>
	<footer>
	  <p class="copyright">Unless otherwise noted, content is &copy; {{ 'now' | date: "%Y" }} G. Lucas Roe, and shouldn't be used without at least asking nicely. I can't stop you, but some wicked bad karma will come your way.</p>
	  <p><a href="mailto:lucas@glucasroe.com">lucas@glucasroe.com</a></p>
	</footer>

  </body>
</html>
