:root{
	--serif: 'Merriweather', Georgia, serif;
	--foreground-color:#f5f0e0;
	--background-color:#1c1527;
	@media (prefers-color-scheme: dark) {
	  --foreground-color:#f5f0e0;
	  --background-color:#1c1527;
	}
	
	@media (prefers-color-scheme: light) {
	  --background-color:#f5f0e0;
	  --foreground-color:#1c1527;
	}
		
}

$tablet: "screen and (min-width:40em)";
$desktop: "screen and (min-width:64em)";


*{
	box-sizing: border-box;
	font-family: var(--serif);
	font-weight: 300;
	color: var(--foreground-color);
}

html{
	
	background-color: var(--background-color);
	overflow: visible;
}

html.light-mode{

}

* + *{
	margin:1em auto 0;
	
	@media #{$desktop}{
		margin-top: 1.1em;
	}
}

main{
	@extend %site-width;
	min-height: calc(100vh - 325px);
}

a{
	color: var(--foreground-color);
	text-decoration: none;	
	
	p > &,
	nav > &,
	aside > &,
	.case-study__title{
		background: linear-gradient(to left, var(--foreground-color), var(--foreground-color) 100%);
		background-position: 0 1.2em;
		background-size: 100% 1px;
		background-repeat: repeat-x;
		transition: background-position ease-in-out 0.25s;
		&:hover{

			background-position: 0 0;
		}
	}
}

h1{
	font-size: 3rem;
	line-height:1.35;
}

h2{
	font-size: 2.5rem;
}

h3{
	font-size: 2rem;
	line-height: 1.4;
}

h4{
	font-size: 1.25rem;
	text-transform:uppercase;
	text-align: left;
}

h1,h2,h3,h4,h5,ul,li,p,img, .tile{
	color: var(--foreground-color);
	@extend %site-width;
}
p,aside,pre code,li, figcaption,button{
	font-size: 1rem;
	line-height: 1.75;
	color:var(--foreground-color);
	@media #{$desktop}{
		font-size: 1.2rem;
		line-height: 1.85;
	}
}
body img,video,.gfyvid{
	display:block;
	max-width:100%;
	margin-left:0;
	margin-right: 0;
}
code{
	font-family: monaco, monospace;
	color:var(--background-color);
	background-color:var(--foreground-color);
	border-radius:10px;
	padding: 0.15em 0.5em;
	margin:0 2px;
}
pre{
	@extend %clearfix;
  background-color: var(--foreground-color);
	border-radius:3px;
	padding:1em;
  overflow:auto;
	code{
		color: var(--background-color);
		white-space: pre;
		line-height:1.25;
    background-color: var(--foreground-color);
		float:left;
		overflow: auto;
		padding:0em;
    padding-right: 1em;
	}
}
aside{
	border: 1px dotted var(--foreground-color);
	border-radius: 2px;
	padding: .75em;
	@extend %left-margin-hang;
	@media #{$desktop}{
		left:-14rem;
		border:0;
	}
}
blockquote{
	margin: 2rem 0;
	position:relative;
	/*&:before{
		font-family: var(--serif);
		content:'\201C';
		font-style: normal;
		font-size: 4rem;
		position: absolute;
		left:-3rem;
		margin-left: 0;
		color: var(--foreground-color);
	}*/
	&:after{
		content:"";
		height: 100%;
		display: block;
		position: absolute;
		margin-left: 0;
		left:0rem;
		top: 0;
		width: 0.5rem;
		background-color: var(--foreground-color);
	}
	h1,h2,h3,h4,h5,h6,p{
		margin-left:2rem;
		font-style: italic;
		color: var(--foreground-color);
	}
	p{
		font-size: 1.7rem;
	}
}
q{
	color: var(--foreground-color);
	padding: 0.15em 0.3em;
	font-style: italic;
	&:before{
		content:'\201C';
		color:var(--foreground-color);
		margin-right:0.1em;
	}
	&:after{
		content:'\201d';
		color:var(--foreground-color);
		margin-left: 0.1em;
	}
}
ol,ul{
	list-style-position: outside;
	margin-bottom: 2rem;
	font-size:1rem;
	position:relative;
}
ol{
	list-style-type: none;
	li{
	    counter-increment: count-me;
		&:before{
			content: counter(count-me) ". ";
    		display: block;
    		position: absolute;
    		color: var(--foreground-color);
    		left: 1.5rem;
    		text-align:right;
		}
	}
}

ul{
	list-style-type: none;
	li:before{
		font-family: sans-serif;
		content: '•';
		position: absolute;
		left:2rem;
	}
}

ul ul, ol ol, ul ol, ol ul{
	margin: 1em 0;
	padding-left: 0;
}
li{
	margin-left: 3rem;
	margin-bottom: 0.25em;
	line-height:1.6;
}
hr{
	border:none;
	height:1px;
	display:block;
	color: black;
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
sup{
	vertical-align: super;
	font-size: 0.75em;
}
figure{
	position:relative;
	figcaption{
		padding: 1rem;
		background-color:var(--background-color);
		color:var(--foreground-color);
		border-radius: 0.5em;
		@extend  %left-margin-hang;
		@media #{$desktop}{
			margin-top:0;
			top:0;
			left: -15rem;
			z-index: -1;
			border-radius: 0.5rem 0 0 0.5rem;
		}
	}
	img{
		box-shadow: var(--foreground-color) 0 2px 2rem;
	}
}
button{
	padding: .25em 1em;
	border:0;
	border-radius: .5em;
	color: var(--background-color);

	background-color: var(--foreground-color);
	transition: opacity 0.5s, transform 0.5s,box-shadow 0.5s;
	&:hover{
		box-shadow: 0px 4px 15px var(--foreground-color);
		transform: translateY(-2px);
	}
}
::selection{
	background-color: var(--foreground-color);
	color:var(--background-color);
}

//// LEGACY?
@media #{$tablet}{
	header h1{
		font-size: 2rem;
	}
}
