header{
	@extend %site-width;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	position: relative;
	margin-top: 2em;
	overflow: visible;
		
}

header > a{
	&:after{
		content: "";
		width: 6em;
		height: 6em;
		position: absolute;
		display: block;
		top: -3em;
		left: -2em; 
		opacity: 0.2;
		transform: rotate(-28deg);
		background-image: url(/images/site/seal.svg);
		background-repeat: no-repeat;
		
	}
	@media #{$tablet}{
		margin-top: 1em;
		&:after{
			width:10em;
			height: 10em;
			left: -7em;	
		}
	}
}
header > a:hover{
	text-decoration: underline;
}

header > a:hover ~ :before{
	transform: rotate(0deg);
}

header a:hover svg{
	transform: rotateZ(-17deg);
	opacity: 1;
}
header h1{
	font-size: 1.5rem;
	letter-spacing: 1.1px;
}

nav{
	margin: 0;
	@media #{$tablet}{
	}
}

nav > a{
	margin: 0 .5em;
}
