//Type
$serif:'Merriweather',  'Palatino', 'Palatino Linotype', Georgia, serif;
$light: 'Merriweather Light', 'Merriweather', 'Palatino', 'Palatino Linotype', Georgia, serif;


//Colors
$accent: #640726;
$dark:#302D34;
$bright: #FEFBF1;

//Media Queries
$tablet: "screen and (min-width:40em)";
$desktop: "screen and (min-width:80em)";
