footer{
	border-top: 1px solid var(--foreground-color);
	margin-top: 4rem;
	padding:2rem 1rem;
	
	p{
		margin: 0 0 0 1rem;
		font-size: 1rem;
		padding:0;
		max-width: 60rem;
	}
	@media #{$desktop}{
		display:flex;
		justify-content: space-between;
	}
}