.clear{
	clear:both;
	margin:0;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%site-width{
	max-width: 45rem;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	// padding: 0 1.5em;
	@media #{$desktop}{
		// left: 0rem;
	}
}
%left-margin-hang{
	@media #{$desktop}{
		position:absolute;
		width:12rem;
		margin-left: 2.5%;
		text-align: right;
	}
}

.animated{
	transition: all .25s;
	animation-fill-mode: both;
}

.button{
	padding:10px 20px;
	background-color:var(--foreground-color);
	border-radius:5px;
	color: var(--background-color);
}

.rotated{
	transform: rotate(90deg) ;
}

.no-margin{
	margin-top: 0;
	margin-bottom: 0;
}

.hidden{
	visibility:hidden;
}
