// Color variables
$low-key: hsla(253, 100%, 7%, 1);
$high-key: hsla(45, 100%, 94%, 1);

// Font variables
$serif: "IBM Plex Serif", Georgia, serif;

// Breakpoint variables
$tablet: "screen and (min-width:40em)";
$desktop: "screen and (min-width:80em)";
